body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.foto_carrito {
  width: 60px;
  height: 40px;
}



.itemcount {
  display: grid;
  grid-template-areas: "menos contador mas"
  "botonAgr FinalizarBtn"; 
  grid-template-columns: repeat(3,1fr);
  width: 250px;
}

#catalogo {
  display: grid;
  grid-area: main;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto); }

.espacio {
  margin-bottom: 50px;
}

  .espacio:hover {
  /* animation-name: fotocartelera ; */
  transform: scale(110%); }

.cartelera {
  width: 310px;
  height: 440px; }    

.carrito_añadir {
    margin-left: 85px;
    width: 150px;
    height: auto;
    
}

.precio {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}

input:invalid+span:after {
  position: absolute; content: '✖';
  padding-left: 5px;
}
input:valid+span:after {
  position: absolute;
  content: '✓';
  padding-left: 5px;
}

select:invalid+span:after {
  position: absolute; content: '✖';
  padding-left: 5px;
}
select:valid+span:after {
  position: absolute;
  content: '✓';
  padding-left: 5px;
}